body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url('Images/background-hallstatt.jpg') 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

    body:first-child {
        margin: 0;
        padding-top: 100px;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 5%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.greeting-image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url('Images/train_back.jpg') 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.greeting-text-wrapper {
    display: table;
    margin: 0 auto;
}

.greeting-text {
    border: 2px solid white;
    font-size: 35pt;
    color: white;
    padding: 20px;
    font-family: Avenir LT std;
    position: relative;
    margin-top: 30%;
}

.sub-greeting-text {
    font-size: 10pt;
    color: white;
    font-family: Avenir LT std;
    position: relative;
    margin-left: 29%;
}

.navigation .navbar-default {
    color: white;
    border: none;
    width: 100%;
    background-color: rgba(60, 78, 75, 0.39);
}

.active {
    background-color: white;
    color: black;
}

.navigation .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: dimgray;
    background-color: rgba(242, 242, 242, 0.89);
}

.navigation .navbar-default .navbar-nav > li > a {
    color: white;
    border-right: 1px solid dimgray;
    border-left: 1px solid dimgray;
}

.navigation .nav > li > a {
    font-family: Segoe UI light;
    font-weight: 100;
    font-size: 15pt;
    display: inline-block;
    background-color: transparent;
}

.login-group {
    margin-left: 10px;
}

.navigation .navbar-nav {
    width: 100%;
}

    .navigation .navbar-nav > li {
        float: none;
        display: inline-block;
    }

.hidden-log-group {
    display: none;
}

.feeds {
    width: 100%;
    height: 100vh;
}

.block-two-picture {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url('Images/train2_back.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.margined-content {
    margin-top: 10%;
}

.article {
    padding: 25px;
    background-color: rgba(46, 46, 46, 0.3);
    font-family: Segoe Ui light;
    font-size: 14pt;
    color: beige;
    border: 2px solid white;
}

.back-image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url('Images/background-hallstatt.jpg') 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.route-list {
    background-color: rgba(255,255,255, 0.7);
    color: black;
    padding: 5%;
    font-family: segoe ui light;
    font-size: 15pt;
    border-bottom: dimgray solid 2px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid dimgray;
}

.login {
    color: black;
    padding: 15px;
    font-family: segoe ui light;
    font-size: 10pt;
    background-color: rgba(255,255,255, 0.4);
}

.hr-white > hr {
    border-top: black solid 1px;
}

.text-danger {
    font-family: segoe ui;
    font-size: 12pt;
    font-weight: 500;
    color: red;
}

.registration-form {
    padding: 25px;
    color: black;
    font-family: segoe ui;
    font-size: 10pt;
    background-color: rgba(255,255,255, 0.4);
}

.footer {
    color: white;
    text-align: center;
    font-family: segoe ui light;
    font-size: 15pt;
    background-color: rgba(1,1,1, 0.1);
    padding: 15px;
}

a.manage-routes-link {
    background-color: rgba(230, 20, 20, 0.62);
    text-decoration: none;
    color: black;
    padding: 5px;
}

    a.manage-routes-link:hover {
        background-color: rgba(241, 91, 91, 0.82);
        text-decoration: none;
        color: black;
    }

a.create-route-link {
    text-decoration: none;
    font-family: segoe ui light;
    color: white;
    font-size: 12pt;
    background-color: darkslategray;
    padding: 10px;
}

    a.create-route-link:hover {
        text-decoration: none;
        color: black;
        background-color: cadetblue;
    }

a.delete-route-link {
    text-decoration: none;
    font-family: segoe ui light;
    color: white;
    font-size: 12pt;
    background-color: crimson;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

    a.delete-route-link:hover {
        text-decoration: none;
        color: black;
        background-color: red;
    }

p.station-list-p {
    margin-top: 10px;
    padding-right: 25px;
}

a.add-station-link {
    text-decoration: none;
    font-family: segoe ui light;
    color: white;
    font-size: 12pt;
    background-color: darkslateblue;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

    a.add-station-link:hover {
        background-color: blueviolet;
    }

.add-station {
    margin-top: 5%;
}

.train-list-cell {
    padding: 10px;
    vertical-align: center;
}

.th-trains {
    margin-right: 5%;
}

a.edit-carriage-link {
    text-decoration: none;
    font-family: segoe ui light;
    font-size: 13pt;
    padding: 5px;
    color: white;
    background-color: crimson;
}

a.edit-carriage-link:hover {
    text-decoration: none;
    font-family: segoe ui light;
    font-size: 13pt;
    padding: 5px;
    color: white;
    background-color: indianred;
}

.edit-carriage-cell {
    width: 950px;
}

.carriage-create {
    padding: 5px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.1);
}

table.train-table {
    table-layout: fixed;
    width: 200px;
}

th.train-list-table-col, td.train-list-table-col {
    text-align: center;
    width: 100px;
}

a.edit-train-link {
    text-decoration: none;
    font-family: segoe ui light;
    color: white;
    font-size: 12pt;
    background-color: darkslategray;
    padding: 10px 25px 10px 25px;
}

    a.edit-train-link:hover {
        background-color: gray;
        color: black;
    }

.update-train-button {
    margin-top: 1%;
}

input.update-train-button {
    background-color: rgba(224, 249, 255, 0.79);
    border: none;
    padding: 5px 20px 5px 20px;
}

input.update-train-button:hover {
    background-color: rgba(224, 229, 255, 0.89);
    border: none;
    padding: 5px 20px 5px 20px;
}

table.train-table {
    width: 90%;
}

tr.train-table-row {
    border-bottom: 1px solid black;
    padding: 15px;
}

table.route-list-table {
    width: 100%;
    margin-top: 5%;
}

.save-route-link {
    margin-top: 1%;
    width: 280px;
}

input.save-route-link {
    width: 280px;
    background-color: rgba(224, 249, 255, 0.79);
    border: 1px solid gray;
}

    input.save-route-link:hover {
        background-color: rgba(255, 255, 255, 0.84);
    }

.route-station-form {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.14);
}

a.remove-route-station-link {
    text-decoration: none;
    color: rgba(10, 10, 10, 0.94);
    background-color: rgba(255, 15, 63, 0.64);
    padding: 2px 7px 2px 7px;
}

    a.remove-route-station-link:hover {
        text-decoration: none;
        color: whitesmoke;
        background-color: rgba(189, 0, 53, 1);
    }

a.add-route-station-link {
    text-decoration: none;
    color: rgba(10, 10, 10, 0.94);
    background-color: rgba(204, 250, 255, 0.62);
    padding: 7px 12px 7px 12px;
}

    a.add-route-station-link:hover {
        text-decoration: none;
        background-color: rgba(153, 245, 255, 0.62);
    }

.route-station-item {
    padding: 10px;
    border-bottom: 1px solid black;
    margin-top: 1%;
}

.route-station-item:last-child {
    margin-bottom: 11%;
}

.ajax-route-station-form {
    margin-top: 1%;
}

.route-list-row {
    border-bottom: 1px solid gray;
}

.carriage-list-item {
    padding: 10px;
    border-bottom: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 1%;
}