
@{
    ViewBag.Title = "DownloadPage";
}

<div class="container">
    <div class="row">
        <div class="route-list download-container">
            <h2>Download ticket</h2>
            <hr />

            <p class="download-message">Click this link to download your ticket. After, just print it. Have a good trip!</p>
            
            <div class="link-container center-block">
                @Html.ActionLink("DOWNLOAD", "TicketFileDownload", null, new { Class = "download-link" })
            </div>
            <div class="link-container center-block">
                <p class="or-download">OR</p>
                <div id="email-send-div">
                    @Ajax.ActionLink("SEND TO MY EMAIL", "SendTicketForm", null, new AjaxOptions { UpdateTargetId = "email-send-div" }, new { Class = "download-link" })
                </div>
            </div>
        </div>
    </div>
</div>