
<div class="route-list">
    <h4>MESSAGE HAS BEEN SENT!</h4>
    
    <div class="link-container center-block">
        @Html.ActionLink("Back to routes", "RouteList", "Route", null, new { Class = "download-link" })
    </div>
</div>


