@model WebUI.Models.StationViewModel

<h2>Add a new station</h2>

@Scripts.Render("~/bundles/unubtrusiveParseBody")

@using (Html.BeginForm("CreateStation", "Station", FormMethod.Post))
{
    @Html.ValidationMessageFor(m => m.Name)
    <div>
        @Html.TextBoxFor(m => m.Name)
    </div>

    <div><input type="submit" value="Submit" /></div>
}
