@model WebUI.Models.StationViewModel

@{
    Layout = null;
}
<h2>Add a new station</h2>

@using (Html.BeginForm("CreateStation", "Station", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div>
        @Html.TextBoxFor(m => m.Name)
    </div>

    <div><input type="submit" value="Submit" /></div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
