@model WebUI.Models.StationViewModel

<h2>Add a new station</h2>

@Scripts.Render("~/bundles/unubtrusiveParseBody")

@using (Ajax.BeginForm("IsValidStationModel", "Station", new AjaxOptions{ UpdateTargetId = "error-div", OnSuccess = "onsuccess"}, FormMethod.Post))
{
    <div id="error-div" class="text-danger">
        
    </div>
    @Html.ValidationMessageFor(m => m.Name)
    <div>
        @Html.TextBoxFor(m => m.Name, new { Class = "station-add-text-box"})
    </div>

    <div><input type="submit" value="Add" class="add-station-submit" /></div>
}

<script type="text/javascript">
    function onsuccess(data) {
        if (data.RedirectUrl)
            window.location.href = data.RedirectUrl;
    }
</script>
